<% notice ||= "" %>
<p id="notice"><%= notice %></p>


<h1>Editing Collection</h1>

<%= render 'form', collection: @collection %>

<%= link_to 'Show', @collection %> 
<%= link_to 'Back', collections_path %>
<%= link_to 'Home', about_path %> 
