<!DOCTYPE html>
<html>
  <head>
    <title>Fairmetrics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
<h1>Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Organization</th>
      <th>Deprecated?</th>
      <th>Show</th>
      <th>NEW EVALUATION</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
    <% next if collection.name =~ /__ALL/ %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= collection.contact %></td>
        <td><%= collection.organization %></td>
        <td><%= collection.deprecated %></td>
        <td><%= link_to 'Show', collection %></td>
        <td><%= link_to 'Execute Evaluation', evaluationtemplate_path(collection) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path %>
<%= link_to 'Home', about_path %> 

  </body>
</html>