<% @notice ||= "" %>
<p id="notice"><%= @notice %></p>

<% if @collection.errors.any? %>
	<div class='error error-success note-shadow'>
		<% @collection.errors.full_messages.each do |msg| %>
			<p><%= msg %></p>
		<% end %>
	</div>
<% end %>

<h1>New Collection</h1>

<%= form_tag do %>
  <%= label_tag(:name, "Collection Name:") %>
  <%= text_field_tag(:name) %>
<br/>
<br/>
  <%= label_tag(:contact, "Contact (ORCiD - this is validated!):") %>
  <%= text_field_tag(:contact) %>
<br/>
<br/>
  <%= label_tag(:organization, "Your Organization Name:") %>
  <%= text_field_tag(:organization) %>
<br/>

<br/>
  <%= label_tag(:description, "Description of the Collection:") %>
  <%= text_area_tag('description', "This information should include, for example, the community that this collection of FAIR tests is relevant for.  This text will be searchable to discover this Collection.", :rows => 10, :cols => 50, :placeholder => "This information should include, for example, the community that this collection of FAIR tests is relevant for.  This text will be searchable to discover this Collection.") %>
<br/>

<br/>	
	<div style="clear: both;"/>
  <%= label_tag(:include_metrics, "Load Collection With Metrics:") %>

  <%= select_tag :include_metrics, options_from_collection_for_select(@metrics, "smarturl", "name"), size: 10, multiple: true  %> 
<br/>


  <%= submit_tag("Create Collection") %>

<% end %>


<!-- <%= link_to 'Back', collections_path %> -->
