  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> occurred </h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <strong>Name:</strong>
  <table width='700px'>
    <tr>
      <td>
          <span style="font-size: 1.3em;"><%= @collection.name %> </span>
      </td>
      <td>
        <%= link_to image_tag("eval_button.jpg",  :style => "vertical-align:middle"), evaluationtemplate_path(@collection) %>
      </td>
    </tr>
  </table>
</p>

<p>
  <strong>Description:</strong>
  <div style="width: 300px;">
  <%= @collection.description %>
  </div>
</p>

<p>
  <strong>Contact:</strong>
  <a href="https://orcid.org/<%= @collection.contact %>"><%= @collection.contact %></a>
</p>

<p>
  <strong>Organization:</strong>
  <%= @collection.organization %>
</p>

<p>
  <strong>Deprecated?:</strong>
<% if @collection.deprecated == true %>
<span style="color:red;">
<% end %>
 
  <%= @collection.deprecated %>

<% if @collection.deprecated == true %>
</span>
<% end %>
 
</p>

<p>
  <strong>Has been loaded with the following FAIR Maturity Indicator Tests:</strong>

  <% @collection.metrics.each do |m| %>
  
<p></p><span style='text-indent: 30px;'></span><a href="<%= url_for m %>"><%= m.id %> : <%= m.name %></a></span>
  
  <% end %>

<p></p>
<p></p>
<!-- <%= link_to 'Edit', edit_collection_path(@collection) %>  -->
<%= link_to 'Back', collections_path %>
<%= link_to 'Home', about_path %> 
