<% notice ||= "" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Contact:</strong>
  <a href="https://orcid.org/<%= @collection.contact %>"><%= @collection.contact %></a>"
</p>

<p>
  <strong>Organization:</strong>
  <%= @collection.organization %>
</p>

<p>
  <strong>Has been loaded with the following metrics:</strong>

  <% @collection.metrics.each do |m| %>
  
<p></p><span style='text-indent: 30px;'></span><a href="<%= url_for m %>"><%= m.id %> : <%= m.name %></a></span>
  
  <% end %>

<p></p>
<p></p>
<!-- <%= link_to 'Edit', edit_collection_path(@collection) %>  -->
<%= link_to 'Back', collections_path %>
<%= link_to 'Home', about_path %> 
