<!DOCTYPE html>
<html>
  <head>
    <title>Fairmetrics Metrics List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% @notice ||= "" %>
<p id="notice"><%= @notice %></p>

    <%= yield %>
  </body>
</html>
