
<h1>Metrics</h1>
<%  @ms = Array.new %>
<%  @f = Array.new %>
<%  @a = Array.new %>
<%  @i = Array.new %>
<%  @r = Array.new %>

<% @metrics.each do |m| %>
  <% case m.principle.upcase
      when /F/
        @f << m
      when /A/
        @a << m
      when /I/
        @i << m
      when/R/
        @r << m
     end  %>
 <% end %>
<% @f.sort_by! {|mm| mm.principle} %>
<% @a.sort_by! {|mm| mm.principle} %>
<% @i.sort_by! {|mm| mm.principle} %>
<% @r.sort_by! {|mm| mm.principle} %>
<% @ms.push(*@f) %>
<% @ms.push(*@a) %>
<% @ms.push(*@i) %>
<% @ms.push(*@r) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creator</th>
      <th>Email</th>
      <th>Principle</th>
      <th>Smarturl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ms.each do |metric| %> 

      <tr>
        <td><%= metric.name %></td>
        <td><a href="https://orcid.org/<%= metric.creator %>"><%= metric.creator %></a></td>
        <td><%= metric.email %></td>
        <td><a href="https://purl.org/fair-metrics/<%= metric.principle %>"><%= metric.principle %></a></td>
        <td><a href="<%= metric.smarturl %>"><%= metric.smarturl %></a></td>
        <td><%= link_to 'Show', metric %></td>
<!--         <td><%= link_to 'Edit', edit_metric_path(metric) %></td>
        <td><%= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric', new_metric_path %>
<%= link_to 'Home', about_path %> 
