<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @metric.creator %>
</p>

<p>
  <strong>Email:</strong>
  <%= @metric.email %>
</p>

<p>
  <strong>Principle:</strong>
  <%= @metric.principle %>
</p>

<p>
  <strong>Smarturl:</strong>
  <%= @metric.smarturl %>
</p>

<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
