 <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> occurred </h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end %>

<p>
  <strong>Maturity Indicator Test Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Creator:</strong>

  <a href="https://orcid.org/<%= @metric.orcid %>">
  <%= @metric.creator %>
  </a>
  
</p>

<p>
  <strong>Email:</strong>
  <%= @metric.email %>
</p>

<p>
  <strong>Tests Principle:</strong>
  <a href="http://purl.org/fair-ontology#<%= @metric.principle %>"><%= @metric.principle %></a>
</p>

<p>
  <strong>Tests Maturity Indicator Metric:</strong>
  <a href="<%= @metric.test_of_metric %>"><%= @metric.test_of_metric %></a>
</p>

<p>
  <strong>Test Interface URL (SmartAPI):</strong>
  <a href='<%= @metric.smarturl %>'><%= @metric.smarturl %></a>
</p>

<p>
  <strong>Deprecated?:</strong>
    <% if @metric.deprecated == true %>
    <span style="color:red;">
    <% end %>
    <%= @metric.deprecated %>
    <% if @metric.deprecated == true %>
    </span>
    <% end %>

<p>
  <strong>Description:</strong>
  <i><%= @metric.description %>"></i>
</p>

</p>

<!-- <%= link_to 'Edit', edit_metric_path(@metric) %>  -->
<%= link_to 'Back', metrics_path %> 
<%= link_to 'Home', about_path %> 
