
<p>
  <strong>Name:</strong>
  <%= @metric.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @metric.creator %>
</p>

<p>
  <strong>Email:</strong>
  <%= @metric.email %>
</p>

<p>
  <strong>Principle:</strong>
  <a href="https://purl.org/fair-metrics/<%= @metric.principle %>"><%= @metric.principle %></a>
</p>

<p>
  <strong>Smarturl:</strong>
  <a href="<%= @metric.smarturl %>"><%= @metric.smarturl %></a>
</p>

<!-- <%= link_to 'Edit', edit_metric_path(@metric) %>  -->
<%= link_to 'Back', metrics_path %> 
<%= link_to 'Home', about_path %> 
