<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Resource</th>
<!--       <th>Body</th>
      <th>Result</th> -->
      <th>Executor</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.collection %></td>
        <td><%= evaluation.resource %></td>
<!--        <td><%= evaluation.body %></td>
        <td><%= evaluation.result %></td> -->
        <td><%= evaluation.executor %></td>
        <td><%= evaluation.title %></td>
        <td><%= link_to 'Show', evaluation %></td>
<!--        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<!--         <td><%= link_to image_tag("eval_button.jpg"), "/evaluations/#{evaluation.id}/execute" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
<%= link_to 'Home', about_path %>
