
<h1>Completed Evaluation of <%= @iri %>:</h1>
<br/>

<% @result.each  do |res|  %>

	<% (metric, outgraph) = res %>

	<h3> <%= metric.principle %>: <%= metric.name %></h3>
	<% q = SPARQL.parse('select * where
			    {?result <http://semanticscience.org/resource/SIO_000332> ?iri .
			    ?result <http://semanticscience.org/resource/SIO_000300> ?score .
			    ?result <http://purl.obolibrary.org/obo/date> ?date . 
			    OPTIONAL{?result <http://schema.org/comment> ?comment . } 
				}') 
        %>
        <% solutions = q.execute(outgraph) %>
        <!-- <h4>IRI Tested:  <    %= solutions.first[:iri].value %   ></h4> -->
        
        <% solutions.each do |sol| %>
        <div style="padding-left: 40px; float:left; height: 50px; display: table-cell; vertical-align: middle;">
                <% star = sol[:score].value.to_f * 5; star = star.to_i %>
                <%= image_tag("#{star}stars.jpg",  :height => "50px", :style => "vertical-align:middle") %>
        </div>
        <div style="clear:both;"></div>
        <!-- <div style="position:relative; height:50px;clear:both; display: table;"> -->
        <div style="float:left; height: 50px; display: table-cell; vertical-align: middle;">
                Date: <%= sol[:date].value %><br/>
                Score: <%= sol[:score].value %><br/>
                <% sol[:comment] ||= "no comments available" %>  <!-- legacy problem - some evals don't have a comment -->
                Comment: <%= sol[:comment].value %><br/>
        </div>
        </div>
        <div style="clear:both; padding-top: 20px;"></div>
        <%  end %>

	<p/><br/>

<% end %>

<!-- <%= link_to 'Show', @evaluation %> -->
<%= link_to 'Back', evaluations_path %>

<%= link_to 'Home', about_path %> 
