

<div>
<div style="float:left; width: 700px; vertical-align:middle;display:inline-block;">

<p>
  <strong>Evaluation Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Evaluated Metadata Resource:</strong>
  <%= @evaluation.resource %>
</p>

<p>
  <strong>ORCiD of Executor:</strong>
    <a href="https://orcid.org/<%= @evaluation.executor %>"><%= @evaluation.executor %></a>
</p>

<p>
  <strong>Metrics Collection Used:</strong>
  <a href="<%= url_for @collection %>"> <%= @collection.name %></a>
</p>

<p>
  <strong>Execution Endpoint (HTTP POST):</strong>
  http://linkeddata.systems:3000/collections/<%= @collection.id %>/evaluate
</p>

<p>
  <strong>Executed Data:</strong><br/>
  <div style="padding-left: 40px;">
      <% if @evaluation.body %>
        <script>
        function showJSON() {
         var jsonPretty = JSON.stringify(JSON.parse(document.getElementById('RAW').innerHTML),null,2);
         document.getElementById('RAW').innerHTML = "<pre><code>" + jsonPretty + "</code></pre>";
         document.getElementById('RAW').style.display = "block";
        }
        </script>
        <div id="RAW"  style="display:none;" class="raw_json" > <%= @evaluation.body %> </div>
        <input type="button" name="showraw" value="Show JSON" onclick="showJSON();" />
        
        
        <% hash = JSON.parse(@evaluation.body)  %>
        <div style="padding-left: 60px;">
          <% hash.each do |key| %>
              <i><%= key %> : <%= hash[key] %></i><br/>
          <% end %>
        </div>
      <% end %>
  </div>
  

</p>

<p>
<% if @evaluation.body %>
  <!--  TODO replace this with a rails-generated URL... one day -->
  <strong><%= link_to 'Result: ...', result_url(@evaluation), style: "font-size: +1em; color: blue;" %></strong>
<% end %>
</p>


<!-- <%= link_to 'Edit', edit_evaluation_path(@evaluation) %> -->
<%= link_to 'Back', evaluations_path %>
<%= link_to 'Home', about_path %>

</div>
<div style="float: left; padding-left: 50px;">

  
</div>

</div>

