<p id="notice"><%= notice %></p>

<div>
<div style="float:left; width: 700px; vertical-align:middle;display:inline-block;">

<p>
  <strong>Evaluation Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Name of Executor:</strong>
  <%= @evaluation.executor %>
</p>

<p>
  <strong>Evaluated Resource:</strong>
  <%= @evaluation.resource %>
</p>

<p>
  <strong>Metrics Collection:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Executed Data:</strong><br/>
  <div style="padding-left: 40px;">
<% if @evaluation.body %>
  <% hash = JSON.parse(@evaluation.body) %>
  <% hash.each do |metricid, body| %>
    <% metric = Metric.find(metricid) %>
    <div style="font-size: +1.5em;  padding-top: 20px;"><%= metric.name %></div>
    <div style="padding-left: 60px;">
      
      <% body.each do |key| %>
        <i><%= key %> : <%= body[key] %></i><br/>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
  

</p>

<p>
<% if @evaluation.body %>
  <strong><%= link_to 'Result: ...', "/evaluations/#{@evaluation.id}/result", style: "font-size: +1em; color: blue;" %></strong>
<% end %>
<!--  <%= @evaluation.result %> -->
</p>


<!-- <%= link_to 'Edit', edit_evaluation_path(@evaluation) %> -->
<%= link_to 'Back', evaluations_path %>
<%= link_to 'Home', about_path %>

</div>
<div style="float: left; padding-left: 50px;">
<%=  link_to image_tag("eval_button.jpg"), "/evaluations/#{@evaluation.id}/execute" %>
  
</div>

</div>

