
<h1>Globally Unique Identifier (GUID) to be Evaluated:</h1>
<h2>NOTE: This is the GUID for the <b><i>metadata!</i></b> of your data record</h2>
<h4><span style="color:red;">If you enter the GUID of your data, you will fail most tests. <br/>You have been warned :-) </span></h4><br/>
<br/>Hint: We currently recognze INCHI Keys, DOIs, Handles and URLs. Contact <a href="mailto:mark.wilkinson@upm.es">the developer</a> to add new GUID types to this list - for example, we plan to support LSIDs soon, and others.

<br/>Hint: If you have a DOI for your data deposit, a DOI returns <b><i>metadata</i></b> to our system, so please use your DOI unless you have specifically created a better metadata record.
<br/>

<ul>
 <li>For DOIs, enter the DOI <b>without the 'doi:' prefix</b> (e.g. just '10.1002/abd.123')</li>
 <li>For InCHI keys, enter the key <b>with no prefix</b> ( e.g xxxxxxxxxxxxxxxx.xxxxxxxxxx.xxxxx)</li>
 
</ul>

<br/>

<%= form_with(url: executeevaluation_path(@collection), local: true, method: "post") do |form| %>

GUID:						<input type="text" name="resource" size="50"/>
<br/><br/>
Collection used for this test: <%= @collection.name %><br/>
Title of this Evaluation: 	<input type="text" name="title" size="50"/><br/>
Your ORCID:  	<input type="text" name="executor" size="50"/><br/>


<%= submit_tag("Execute Metrics Test With This Collection") %>



<% end %>

<!-- <%= link_to 'Show', @evaluation %> -->
<br/><br/><br/>

<%= link_to 'Back', collections_path %>
<%= link_to 'Home', about_path %> 
